<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <modules>
    <module assemblyFile="StockTraderRI.Modules.Market.dll" moduleType="StockTraderRI.Modules.Market.MarketModule, StockTraderRI.Modules.Market, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MarketModule" startupLoaded="True" />

    <!--<module assemblyFile="StockTraderRI.Modules.Home.dll"
     moduleType="StockTraderRI.Modules.Home.HomeModule, StockTraderRI.Modules.Home"
    moduleName="HomeModule"
    startupLoaded="True" />-->

    <!--<module assemblyFile="X.dll"
            moduleType="X.XModule, X, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="XModule" startupLoaded="True" />-->

    <module assemblyFile="StockTraderRI.Modules.Position.dll" moduleType="StockTraderRI.Modules.Position.PositionModule, StockTraderRI.Modules.Position, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PositionModule" startupLoaded="True" />

    <module assemblyFile="StockTraderRI.Modules.Watch.dll" moduleType="StockTraderRI.Modules.Watch.WatchModule, StockTraderRI.Modules.Watch, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WatchModule" startupLoaded="True" />

    <module assemblyFile="StockTraderRI.Modules.News.dll" moduleType="StockTraderRI.Modules.News.NewsModule, StockTraderRI.Modules.News, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="NewsModule" startupLoaded="True" />
  </modules>
</configuration>