<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net462" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net462" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net462" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net462" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net462" />
  <package id="Prism.Unity" version="6.3.0" targetFramework="net462" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net462" />
  <package id="Unity" version="4.0.1" targetFramework="net462" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net45" requireReinstallation="true" />
  <package id="Unity.Container" version="5.8.11" targetFramework="net45" requireReinstallation="true" />
</packages>